@import url('https://fonts.googleapis.com/css?family=Alatsi|Permanent+Marker|100,200,300,400,500,600,700');



/*------------------Colors------*/

.bg-color-title {
    background-color: #4c4c4c;
}

.li-menu-color {
    background-color: #4c4c4c;
}

.bg-col-blk {
    background-color: #4c4c4c;
}

.footer-bg {
    background-color: black;
}

.submit {
    color: #ff0000!important;
    background-color: #cccc00!important;
}

.contactlink {
    color: #ff0000!important;
    background-color: #cccc00!important;
}

.name {
    color: #ff0000;
}

.tag-line {
    color: #cccc00;
}

.nav-but {
    border-color: #ff0000;
}

.nav-but-text {
    color: #ff0000;
    background-color: #4c4c4c;
}

.dropdown-menu {
    background-color: #4c4c4c !important;
    border-color: #ff0000!important;
}

#dropdownMenuButton {
    color: #ff0000;
    background-color: #4c4c4c;
}

.dropdown-item {
    color: #ff0000!important;
}

h4 {
    color: #ff0000!important;
}

.social-links-top {
    border-color: #ff0000!important;
    background-color: #000000;
}

.page-heading {
    color: #ff0000;
}

.quickcontact {
    color: #ffffff;
}


/*------------------Heading------*/

header {
    margin: 0;
}

.title {
    margin-left: 25px;
    margin-right: 25px;
}


.profile {
    background: url("../images/anthony.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    transition: all ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.name {
    font-family: "Permanent Marker", sans-serif;
    font-weight: 100;
    font-size: calc(70px + 1vw);
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.tag-line {
    font-family: "Permanent Marker", sans-serif;
    font-weight: 200;
    font-size: calc(30px + 1vw);
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 25px;
}


.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.social-links-top {
    padding-bottom: 0;
    margin: 0;
    border-style: none;
}

/*------------------Nav------*/

.nav-but {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
}

.nav-but-text {
    font-family: 'Alatsi', sans-serif;
    font-size: 35px;
}

.dropdown-menu {
    border-width: 3px!important;
    font-size: 35px!important;
    text-align: center!important;
    min-width: 75px!important;
    min-height: 75px!important;
    border-radius: 10px!important;
}

#dropdownMenuButton {
    font-family: 'Alatsi', sans-serif;
    font-size: 35px;
    border: none;
}

.icon {
    font-size: 35px!important;
    color: #ff0000;
}

.dropdown {
    padding-top: 15px;
}

.dropdown-toggle:hover {
    background-color: transparent;
    color: #000000!important
}


.dropdown-item:hover {
    background-color: transparent!important;
    color: #000000!important
}

.nav-but-text:hover {
    cursor: pointer;
    color: #000000!important;
    text-decoration: none;
}


/*------------------Main-section------*/

.text-box-heading {
    color: #ff0000;
    font-family: "Permanent Marker", sans-serif;
    text-transform: uppercase;
}

.text-box {
    font-family: 'Alatsi', sans-serif;
    margin: 40px;
    text-transform: uppercase;
}

.text-box-1 {
    font-family: 'Alatsi', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    color: #ff000!important;
}

.jumbotron {
    margin-bottom: 0!important;
    padding: 0;
}

.jumbotron-main {
    background-attachment: scroll;
    background: url("../images/Background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;

}

.social-but {
    font-size: 50px;
    color: #ff0000;
    margin-left: 25%;
}

.about {
    text-align: justify;
    margin: 60px;
}

.text-box-heading {
    text-align: center;
}

.image {
    margin: auto;
    margin-top: 100px;
    display: block;
    height: 200px;
    width: 200px;

}

.video {
    text-align: center;
    height: 150px;
    width: 150px;
    margin-top: 50px;
}

.image:hover {
    cursor: pointer;
}

.bottom-padding {
    margin-bottom: 250px;
}

.image-text {
    padding-top: 15px;
    text-align: center;
    font-family: 'Alatsi', sans-serif;
    font-size: 20px;
}

.modal-footer {
    font-family: 'Alatsi', sans-serif;
    font-size: 25px;
    text-align: center;
}

.modal-image {
    width: auto;
    height: auto;
}

/*------------------Contact------*/

.form-control {
    border-style: solid!important;
    border-width: 3px!important;
    border-color: #000000!important;
}

.page-heading {
    font-family: "Permanent Marker", sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.contactdes {
    padding-top: 25px;
}


/*------------------Footer------*/

.submit {
    font-family: 'Alatsi', sans-serif;
    font-size: 26px;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 350px;
}

.contactlink {
    font-family: 'Alatsi', sans-serif;
    font-size: 26px;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

.contact {
    padding: 10px;
    margin-left: 54px;
    margin-right: 54px;
}

.contactmobile {
    padding: 10px;
    margin-left: 54px;
    margin-right: 54px;
}

#fullname {
    margin-bottom: 10px;
}

input[type="text"] {
    font-family: 'Alatsi', sans-serif;
    font-size: 26px;
}

input[type="email"] {
    font-family: 'Alatsi', sans-serif;
    font-size: 26px;
}


#projectsummary {
    font-family: 'Alatsi', sans-serif;
    font-size: 26px;
}

.social-links-top {
    width: 100vw;
}

.quickcontact {
    font-family: 'Alatsi', sans-serif;
    font-size: 24px;
    text-align: center;
}

.contactlink:hover {
    text-decoration: none;
    color: #000000!important;
}

.submit:hover {
    cursor: pointer;
    color: #000000!important;
}
